<h1>Games#score</h1>
<p>******** Now your result ********</p>

<p>Your word: <%= @attempt.upcase %> </p>

<p>Time Taken to answer: <%= @time %></p>
<p>Your score: <%= @score %> </p>
<p>Message: <%= @message %></p>
<p>*****************************************************</p>
